<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>мы все сгорим</title>
        <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
     <main class="main-login">
        <form method="post" class="register">
            <label for="email">
                <input class="form__input" type="email" name="email" id="email" placeholder="Введите e-mail" required>
            </label>
            <label for="terms">
                <input type="checkbox" name="terms" id="terms" placeholder="Я согласен" required>
            </label>
            <h3><a href="/terms">Я согласен</h3>
                <button class="form__button"><a href="/">Зарегистрироваться</button>
        </form>
      </main>
</body>
</html>