<!DOCTYPE html>
<head>
    <title>мы все сгорим</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <header class="header">
        <img src="static\img\what-is-global-warming-ct36ke_web.png" alt="" width="1000" height="600">
        <h1 class="main__title">МЫ ВСЕ СГОРИМ:<br><br><br> как глобальное потепление влияет <br><br>на температуру</h1>
    </header>
    <main>

        <div id="wwo-weather-widget-2"></div>
        <script type='text/javascript' src='https://www.worldweatheronline.com/widget/v5/weather-widget.ashx?loc=2145091&wid=2&tu=1&div=wwo-weather-widget-2' async></script>
        <noscript><a href="https://www.worldweatheronline.com/moscow-weather/moscow-city/ru.aspx" alt="Hour by hour Moscow, Moscow City weather">Moscow, Moscow City weather forecast hourly</a></noscript>
        <h3>  </h3>
        <img src="static\img\data.png" alt="" width="1000" height="100">
        <h3>По данным, которые на картинке, мы видим что температуре поднимается.</h3>
        <div id="temperature-widget-container"></div><script type="text/javascript" src="https://www.climatelevels.org/graphs/js/temperature.php?theme=dark-unica&pid=2degreesinstitute"></script>
        <h3>На этом графике видна температура в декабре каждого года за последние 1000 лет. Попробуйте навести на него мышкой!</h3>
        <button class="redirect"><a href="/register">Зарегистрируйтесь,<br><br><br><br> спасите черепах</button>
    </main>
</body>
